<%= form_for @inventory do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
  </div>
  <div class="control-group">
    <%= f.submit(@inventory.new_record? ? "New Inventory" : "Edit")%>
  </div>
<% end %>
