<div class="span5 well">
 <table>
    <tr>
      <td><%= link_to @inventory.name, @inventory %> </td>
      <td><%= @inventory.amount %> </td>
      <td><%= @inventory.unit %> </td>
    </tr>
  </table>
</div>