<div class="span5 well">
  <%= form_for @inventory do |f| %>
    <div class="control-group">
      <%= f.label :month %>
      <%= f.text_field :month %>
    </div>
   <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>
