<div class="span4 well">
  <h4><li><%= link_to @inventory.name, edit_inventory_path %></li></h4>
  <em><%= link_to 'Delete', inventory_path, method: :delete, data: { confirm: 'Are you sure?' } %></em>
</div>