<center>
  <div class="col-md-12">
    <h4>Backouts:</h4>
    <hr>
      <% @backouts.each do |backout| %>
      <li><h3><%= link_to backout.month, backout %></h3></li>
      <% end %>
      <em><%= link_to "Add Backout", new_backout_path %></em>
  </div>
</center>
<% if logged_in? %>
<div class="col-md-4">

</div>
<% end %>