<center>
<h3>Backouts</h3>
  <div class="col-md-12">
    <%= pie_chart Backout.group(:month, :item1, :amount1, :item2, :amount2, :item3, :amount3).count %>
    <div class="col-md-12">
    <hr>
      <% @backouts.each do |backout| %>
      <li><h4><%= link_to backout.month, backout %></h3></li>
      <% end %>
      <% if logged_in? %>
      <em><%= link_to "Add Backout", new_backout_path %></em>
      <% end %>
  </div>
</center>
