<div class="span8 well">
  <%= pie_chart Request.group(:created_at).count %>
</div>
<div class="span5 well">
  <% @requests.each do  |request| %>
  <ul>
    <li><%= link_to request.name, request %></li>
  </ul>
  <% end %>
</div>