<div class="span5 well">
  <% @requests.each do  |request| %>
    <%= link_to request.name, request %>
  <% end %>
</div>
<div class="span8 well">
  <%= column_chart Request.group(:name).count %>
</div>