<h3 class="text-center">Order History</h3>
<hr>
<div class="col-md-12">
  <%= line_chart Request.group(:name, :created_at).count %>
</div>

  <div class="col-md-12">
    <center>
    <% @requests.each do  |request| %>
    <ul>
      <li><%= link_to request.name, request %></li>
      <li><%= request.created_at %></li>
    </ul>
    <% end %>
    </center>
  </div>
