<div class="post">
  <h1>LA Fish products:</h1>
  <% @orders.each do |order| %>
    <div class="span2 well">
        <h3><%= order.name %></h3>
        <h6><%= order.created_at %>
    </div>
    <% end %>
</div>