<div class="post">
  <ul>
    <% @posts.each do |post| %>
    <div class="col-md-3">
      <%= link_to post.title, post %>
    </div>
    <% end %>
    <hr>
    <%= link_to "New Post", new_post_path %>
  </ul>
</div>

