<div class="col-md-6">
  <h3>Messages</h3>
  <% if logged_in? %>
    <em><h5><%= link_to "New ", new_post_path %></h5></em>
  <% end %>
  <br/>
  <% @posts.each do |post| %>
    <div class="col-md-6">
      <%= content_tag_for :dt, post do %>
      <%= link_to post.title, post %>
      <%= image_tag post.image_url.to_s %>
      <% end %>
    </div>
  <% end %>
</div>
