<div class="span5 well">
  <h3>Messages</h3>
  <br/>
  <% @posts.each do |post| %>

  <ul>
    <li><%= link_to post.title, post %></li>
  </ul>
  <% end %>
  <hr>
  <%= link_to "New Message", new_post_path %>
</div>