<div class="span5 well">
  <h4>Megan,</h4>
  <p>Here is the online version of last month's inventory. Let me know if this works for you, or if you prefer the paper version.</p>
  <em><h4><a href="paperthincut.herokuapp.com/inventories">Click here to see the inventory</h4></em>
</div>