<div class="span5 well">
  <% @logs.each do |log| %>
    <li><%= link_to log.event, log %></li>
    <li><%= log.created_at %></li>
  <% end %>
  <% if logged_in? %>
    <em><%= link_to "New", new_log_path %></em>
  <% end %>
</div>